#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  @font-face {
    font-family: digit;
    src: url(font/DS-DIGIB.TTF);
  }
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  .calculator {
    width: 303px;
    margin: auto;
    padding: 26px;
    border: 3px solid;
    border-radius: 9px;
    background-color: lightsteelblue;
  }
  
  .buttonBox {
    display: flex;
    width: 655px;
    
  }
  
  .equalButton {
    width: 78px;
    margin: 2px;
    background-color: darkorange;
  }
  
  .numButton {
    display: flex;
    width: 38%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .operatorBox {
    width: 48px;
  }
  
  .operatorBox button {
    margin: 2px;
    background-color: chartreuse;
  }
  
  .num_width {
    /* width: 78px; */
    margin: 2px;
    background-color: blue;
    color: white;
  }
  
  .screen {
    border: 5px solid lightcyan;
    width: 300px;
    height: 70px;
    font-family: digit;
    border-radius: 6px;
    background-color: black;
    color: white;
  }
  
  .screen div {
    margin: 1px 0px;
  }
  
  .screen p {
    margin: inherit;
    margin-bottom: 0px;
    margin-top: 3px;
    text-align: right;
  }
  
  .operation {
    /* border: 1px solid; */
    height: 26px;
    width: 98%;
  }
  
  .result {
    /* border: 1px solid; */
    height: 38px;
    width: 98%;
    font-size: 30px;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }